@media screen and (min-width: 1850px) {
	/*HEADER*/
	.header__bottom {
		margin-top: 250px;
		margin-left: auto;
	}
	.logo {
	    width: 270px;
	    height: 50px;
   }

	.menu__item {
		font-size: 25px;
		margin-left: 25px;
	}

	.menu__item:nth-child(1){
		margin-left: 0px;
	}
}