.transition {
  transition: 0.2s;
}

.header {
    margin: 20px 100px 20px 100px;
}

.header__top, .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Courier;
}

.header__top {
    padding: 10px;
    background-color: #000;
}

.logo {
    width: 200px;
    height: 30px;
    background: url("../media/PwSB.gif") center center;
    background-size: cover;
    cursor: pointer;
}

.menu {
    min-width: 400px;
}

.menu__item {
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

.menu__item:hover {
    color: #A8E4A0;
}