body {
    background-image: url("wallpaper.jpeg");
    background-size: 1920px 1080px;
	color: #999;
}

header {
    display: flex;
    align-items: flex-end;
    flex-flow: column;
}

main {
    display: flex;
    align-items: stretch;
    height: 100vh;
    flex-flow: column;

}

a {
    color: red;
}
.dark_img {
	width:100px; 
	height:100px
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1500px;
    font-family: fantasy;
    font-style: italic;
    font-size: 50px;
    color: blue;
}