.transition {
  transition: 0.2s;
}

.shadow {
    /*height: 100%;*/
    padding: 20px 100px 20px 100px;
    background: rgba(0,0,0,.5);
}


.header {
    min-height: 100vh;
    background: url("../media/PwSB.gif") center no-repeat;
    background-size: cover;
}

.header__top, .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Courier;
}

.header__top {
    padding: 10px;
}

.logo {
    width: 200px;
    height: 30px;
    background: url("../media/logo.gif") center center;
    background-size: cover;
    margin-left: 80px; /*тут бро поставил отступ, чтобы с текстом хедера было ровно*/
    cursor: pointer;
}

.menu {
    min-width: 400px;
}

.menu__item {
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

.menu__item:hover {
    color: #A8E4A0;
}


/*-------------------------------*/
/* Вуду пипол */
.header__bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
    margin-left: 100px;
    color: white;
}

.header__title {
    font-size: 2em;
}

.header__subtitle {
    font-size: 4em;
}

.text-symphony {
    color: red;
    font-style: italic;
    
}

.header__subtitle--wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header__advant {
    display: flex;
    gap: 10px;
    font-size: 2em;
    padding-left: 50px;
}

.header__advant--left {
    color: #B22222;
    font-style: italic;
}

.header__advant--img {
    width: 40px;
    align-self: center;
}
/*-------------------------------*/


/*----------------ДЭНИ------------*/

.footer {
    min-height: 200px;
    padding: 20px 100px 20px 100px;
    display: flex;
    background: #000;
    justify-content: space-between;
    align-items: center;
}

/*-------------------------------*/